<strong>Olá, {{provider}}</strong><br/>
<p>
  Houve um cancelamento de horário. Confira detalhes abaixo:
</p>
<p>
  <strong>Cliente: </strong> {{user}} <br/>
  <strong>Data/hora: </strong> {{date}}<br/>
  <br/>
  <small>O horário está disponível para novos agendamentos.</small>
</p>
