@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f2f2f2;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

header {
  background: #4a90e2;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 64px;
  top:0;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 42px;
  color: #fff;
  width: 100%;
  max-width: 980px;
  font-size: 14px;
}

nav img {
  height: 24px;
  cursor: pointer;
}

nav > div {
  display: flex;
  align-items: center;
  cursor: pointer
}

nav > div i {
  margin-left: 8px;
}


nav > div > span {
  font-size: 14px;
  font-weight: bold;
}


.postlist {
  width: 700px;
  margin: 84px auto 20px;
}

.post {
  margin-top: 20px;
  border-radius: 6px;
  background: white;
  padding: 20px;
  color: #3e3e3e;
  line-height: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-header {
  display: flex;
  align-items: center;
}

.post-header .details {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  font-size: 11px;
  color: #9a9a9a;
  line-height: 14px;
}

.post-header .details span:first-child {
  font-size: 14px;
  color: #4a4a4a;
  font-weight: bold;
  margin-bottom: 3px;
}

.avatar {
  min-height: 32px;
  min-width: 32px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.post-content {
  margin-top: 15px;
  font-size: 14px;
}

.divider {
  width: 100%;
  height: 1px;
  background: #eeeeee;
}

.post-comments {
  margin-top: 20px;
}

.comment {
  margin-top: 20px;
  display: flex;
}

.comment p {
  border-radius: 18px;
  background: #eeeeee;
  margin-left: 10px;
  padding: 15px;
  font-size: 13px;
}

.comment span {
  font-weight: bold;
  margin-right: 6px;
}
